/data/
/final-report/
/CS566 Presentation.mp4
/CS566 Project Presentation.pptx
/output-models/
/models/
/hf_test_dataset/
/hf_train_dataset/
/mid-report/
/data/Stanford_Cars_dataset/
/car-parts-concat/output/
/car-parts-seg/runs/
